body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

figure {
  margin: 0;
}

b {
  font-weight: bold;
}